<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | CDN</title>
        <link rel="stylesheet" href="/static/css/globals.css">
        <link rel="stylesheet" href="/static/css/dashboard.css">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <script src="/static/js/dashboard.js" defer></script>
    </head>
    <body>
        <nav>
            <a href="/auth/logout">Logout</a>
        </nav>
        <div class="container">
            <h1>Welcome back, <%= user.username %>!</h1>
            <form action="/dashboard/upload" method="POST" enctype="multipart/form-data" id="upload">
                <label for="file">Upload a file</label>
                <input type="file" name="file" id="file" required>
            </form>
            <div class="progress" id="progressdisplay">
                <div class="bar">
                    <div class="fill" id="progressbar"></div>
                </div>
                <p class="stats" id="stats">0%</p>
            </div>
            <div class="files">
                <% for (let file of files) { %>
                    <div class="file">
                        <p><%= file.filename %></p>
                        <a href="/content/<%= user.id %>/<%= file.filename %>?h=<%= file.hash %>">Link</a>
                        <form class="delete-form" action="/dashboard/delete" method="POST">
                            <input type="hidden" name="filename" value="<%= file.filename %>">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
</html>